# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
.gradle/
build/
target/
out/

# Environment
*.env
.env.local
.env.development
.env.test
.env.production
backend-secret.env
/backend/*.env
/frontend/*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Spring Boot

# Database
*.db
*.sqlite
*.sqlite3

# Docker
.dockerignore

# Cursor
.cursorignore
backend/tail_log.txt
